@model University.BL.DTOs.OfficeAssignmentDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "OfficeAssignment", FormMethod.Post, new { id = "formCreateOfficeAssignment" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>OfficeAssignmentDTO</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.InstructorID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <select class="form-control" id="InstructorID" name="InstructorID"></select>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="create-save" type="button" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<script>

    $(document).ready(function () {
        getInstructorsList();
    });

    function getInstructorsList() {
        $.get(urlBase + '/OfficeAssignment/GetInstructors', function (data) {
            $("#InstructorID").empty();
            $("#InstructorID").select2({
                placeholder: "Seleccione",
                data: JSON.parse(data)
            });
            $("#InstructorID").val("").trigger("change");
            $("#InstructorID").addClass('form-control');
            $("#InstructorID").attr({ width: '100%' });
        });
    }
</script>

<script>

    $("#create-save").click(function () {
        createOfficeAssignment();
    });

    function createOfficeAssignment() {

        var formData = $('#formCreateOfficeAssignment').serialize();

        $.post(urlBase + "/OfficeAssignment/Create", formData).done(function (data) {
            console.table(data);


            if (data.IsSuccess) {
                swal("Notification", "The process is successful", "success")
                $("#modalOfficeAssignment").modal("hide");
                getOfficeAssignments();

            } else {
                swal("Notification", "The process is failed", "error")
            }


        }).fail(function (data) {
            console.table(data);
            swal("Notification", "The process is failed", "error")
        })

    }

</script>